
.uuDo{
    font-size: 20px;
    font-weight: bold;
}

.User_imag_Div {
    display: inline-block;
    width: 22px;
    height: 22px;
    position: relative;
    border: 2px solid #4692E6;
    border-radius: 18px;
    padding: 0px;
    margin-top: 6px;
}
.User_imag_Div img{
    position: absolute;
    width: 18px;
    border-radius: 18px;
}
.User_name{
    font-size: 12px;
    font-weight: bold;
}