<div class="landing_page">
    <div class="container" style="width: 100vw;">
                <div class="Img_Div text-center">
                    <img src="/assets/6306496-removebg-preview.png" alt="" class="img-fluid">
                    <div class="circle-background"></div>
                </div>
          
            <div class="col-sm-12 col-md-6 col-lg-12 text-center mt-5 ">
                <div class="uuDo">
                    <span>
                        <span style="color:#ffcc33;">uu</span>
                        <span style="color: #59a7fe;">Do</span>
                        <span style="color: #404040;">!!</span>
                    </span>
                </div>
            </div>
      
    
        <div class="row ">
            <div class="col-sm-12 text-center footer ">
                <ng-container *ngIf="isactive; else elseBlock">
                    <span class="Enjoy">Enjoy
                        <span>
                            <span class="dot1" style="color:#59a7fe;">.</span>
                            <span class="dot2" style="color: black;">.</span>
                            <span class="dot3" style="color:#FEC076;">.</span>
                        </span>
                    </span>
                </ng-container>
                <ng-template #elseBlock>
                    <span class="Enjoy">Welcome To India’s Music App </span>
                </ng-template>
            </div>
        </div>
    
    </div>
    </div>